<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IREWikiIndexer/src/com/mtk/ire/WikiDumpIndexer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mtk.ire.WikiDumpIndexer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IREWikiIndexer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms2048m -Xmx2048m -XX:MetaspaceSize=128m -XX:+UseConcMarkSweepGC -XX:+PrintCommandLineFlags"/>
</launchConfiguration>
